

/* Detail */
.detail-vid{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.preview-vid{
    display: flex;
    align-items: center;
    width: 400px;
    border-radius: 7px;
    overflow: hidden;
}

/* Mobile L */
@media (max-width: 450px) {
    .preview-vid{
        width: 100%;
    }
}